img {
  width: 200px;
  height: 200px;
  flex: 0 0 auto;
  margin-bottom: 63px
}
#container{
  display: flex;
  flex-wrap: wrap;
  margin: 270px;
}
#filter{
  margin-left: inherit;
  padding: 12px;
  margin-right: 50px;
  margin-bottom: 30px;
}
#sort{
  margin-bottom: 30px;
}